<section class="bg-darkBlue flex items-center md:pt-[50px] md:pb-[50px] 3xs:pb-[30px] 3xs:pt-[30px]">
  <div class="h-full flex justify-center flex-col items-center container containerMin lg:px-[50px] xs:px-[30px] 3xs:px-3 mx-auto">
      <div class="about swiper w-full sm:h-[235px]">
          <div class="swiper-wrapper">
              <div class="about-slide swiper-slide">
                  <div class="2xl:mr-[140px] lg:mr-[100px] 3xs:mr-[10px]">
                    <div class="text-white text-sm leading-6 sm:text-left 3xs:text-center">ФАКТЫ О НАС</div>
                    <p class="xl:text-[34px] xs:text-[28px] 3xs:text-2xl text-white font-medium leading-normal mt-7 sm:text-left 3xs:text-center">Диджитализация</p>
                    <p class="text-gray5 leading-7 mt-4 lg:w-[80%] 3xs:w-full sm:text-left 3xs:text-center">Мы развиваем каталог электронных компонентов, собственный цифровой продукт и IT-системы, направленные на своевременную доставку товара</p>
                  </div>
                  <img class="3xs:w-[160px] 3xs:h-[160px] object-contain sm:mb-0 3xs:mb-10" src="/src/img/icons/about-1.svg" alt="">
              </div>
              <div class="about-slide swiper-slide">
                <div class="2xl:mr-[140px] lg:mr-[100px] 3xs:mr-[10px]">
                  <div class="text-white text-sm leading-6 sm:text-left 3xs:text-center">ФАКТЫ О НАС</div>
                  <p class="xl:text-[34px] xs:text-[28px] 3xs:text-2xl text-white font-medium leading-normal mt-7 sm:text-left 3xs:text-center">Адаптация</p>
                  <p class="text-gray5 leading-7 mt-4 lg:w-[80%] 3xs:w-full sm:text-left 3xs:text-center">Постоянно адаптируем наш сервис в условиях быстро меняющейся внешней среды, не стоим на месте и движемся вперед</p>
                </div>
                <img class="3xs:w-[160px] 3xs:h-[160px] object-contain sm:mb-0 3xs:mb-10" src="/src/img/icons/about-2.svg" alt="">
              </div>                 
              <div class="about-slide swiper-slide">
                  <div class="2xl:mr-[140px] lg:mr-[100px] 3xs:mr-[10px]">
                    <div class="text-white text-sm leading-6 sm:text-left 3xs:text-center">ФАКТЫ О НАС</div>
                    <p class="xl:text-[34px] xs:text-[28px] 3xs:text-2xl text-white font-medium leading-normal mt-7 sm:text-left 3xs:text-center">Потребность</p>
                    <p class="text-gray5 leading-7 mt-4 lg:w-[80%] 3xs:w-full sm:text-left 3xs:text-center">Мы поддерживаем потребности внеплановой закупки и пополнения складского запаса, поставки образцов для изготовления прототипов устройств, снабжаем промышленное производство</p>
                  </div>
                  <img class="3xs:w-[160px] 3xs:h-[160px] object-contain sm:mb-0 3xs:mb-10" src="/src/img/icons/about-3.svg" alt="">
              </div>
              <div class="about-slide swiper-slide">
                  <div class="2xl:mr-[140px] lg:mr-[100px] 3xs:mr-[10px]">
                    <div class="text-white text-sm leading-6 sm:text-left 3xs:text-center">ФАКТЫ О НАС</div>
                    <p class="xl:text-[34px] xs:text-[28px] 3xs:text-2xl text-white font-medium leading-normal mt-7 sm:text-left 3xs:text-center">Клиенты</p>
                    <p class="text-gray5 leading-7 mt-4 lg:w-[80%] 3xs:w-full sm:text-left 3xs:text-center">Нашими клиентами являются российские разработчики, производители электронной аппаратуры гражданских отраслей промышленности и дистрибуторы</p>
                  </div>
                  <img class="3xs:w-[160px] 3xs:h-[160px] object-contain sm:mb-0 3xs:mb-10" src="/src/img/icons/about-4.svg" alt="">
              </div>
              <div class="about-slide swiper-slide">
                  <div class="2xl:mr-[140px] lg:mr-[100px] 3xs:mr-[10px]">
                    <div class="text-white text-sm leading-6 sm:text-left 3xs:text-center">ФАКТЫ О НАС</div>
                    <p class="xl:text-[34px] xs:text-[28px] 3xs:text-2xl text-white font-medium leading-normal mt-7 sm:text-left 3xs:text-center">Сотрудники</p>
                    <p class="text-gray5 leading-7 mt-4 lg:w-[80%] 3xs:w-full sm:text-left 3xs:text-center">Нашим сотрудники имеют ценный опыт работы в ключевых российских и международных компаниях отрасли</p>
                  </div>
                  <img class="3xs:w-[160px] 3xs:h-[160px] object-contain sm:mb-0 3xs:mb-10" src="/src/img/icons/about-5.svg" alt="">
              </div>
          </div>
          <div class="swiper-pagination about-pagination"></div>
      </div>
  </div>
</section>
<a href="javascript:;" class="hidden 2xl:block absolute bottom-[3%] left-1/2 h-[60px] transform -translate-x-1/2 move-down" title="Нажмите для прокрутки вниз">
  <svg viewBox="0 0 23 23"
       fill="none"
       xmlns="http://www.w3.org/2000/svg"
       class="h-[50px] w-[50px] animate-bounce stroke-darkSecondary">
    <g>
      <path d="M7.66732 9.58325L11.5007 13.4166L15.334 9.58325" stroke="white" stroke-width="1.4375" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
  </svg>
</a>