<section class="2xl:h-screen lg:h-[800px] 3xs:h-[550px] swiper geographySlider">
  <div class="geographySlider__nav">
    <p class="text-[14px] text-white bold leading-6 2xl:mb-[5px] 3xs:mb-[3px]">НАША ГЕОГРАФИЯ</p>
    <div class="geographySlider__pagination static swiper-pagination">
    </div>
  </div>
  <div class="swiper-wrapper">
    <div class="geographySlider__slide swiper-slide">
      <div class="geographySlider__box">
        <p class="xl:text-[34px] xs:text-[28px] 3xs:text-[24px] text-white font-medium leading-normal">Шэньчжэнь</p>
        <p class="text-white text-[16px] leading-7 mt-3">Офис и склад консолидации</p>
      </div>
      <img src="/src/img/about/Шэньчжэнь.png" alt="" class="geographySlider__img">

    </div>
    <div class="geographySlider__slide swiper-slide">
      <img src="/src/img/about/Шанхай.png" alt="" class="geographySlider__img">
      <div class="geographySlider__box">
        <p class="xl:text-[34px] xs:text-[28px] 3xs:text-[24px] text-white font-medium leading-normal">Шанхай</p>
        <p class="text-white text-[16px] leading-7 mt-3">Офис по работе c китайскими производителями</p>
      </div>
    </div>
    <div class="geographySlider__slide swiper-slide">
      <img src="/src/img/about/Санкт-Петербург.png" alt="" class="geographySlider__img">
      <div class="geographySlider__box">
        <p class="xl:text-[34px] xs:text-[28px] 3xs:text-[24px] text-white font-medium leading-normal">Санкт-Петербург</p>
        <p class="text-white text-[16px] leading-7 mt-3">Офис и склад</p>
      </div>
    </div>
  </div>
</section>

