<section class="2xl:h-screen lg:h-[800px] 3xs:h-[550px] swiper geography">
  <div class="swiper-wrapper">
    <div class="geography-slide swiper-slide">
      <div class="geography-box">
        <p class="xl:text-[34px] xs:text-[28px] 3xs:text-[24px] text-white font-medium leading-normal">Шэньчжэнь</p>
        <p class="text-white text-[16px] leading-7 mt-3">Офис и склад консолидации</p>
      </div>
      <img src="/src/img/about/Shenzhen.jpg" alt="" class="geography-img">

    </div>
    <div class="geography-slide swiper-slide">
      <img src="/src/img/about/Shanghai.jpg" alt="" class="geography-img">
      <div class="geography-box">
        <p class="xl:text-[34px] xs:text-[28px] 3xs:text-[24px] text-white font-medium leading-normal">Шанхай</p>
        <p class="text-white text-[16px] leading-7 mt-3">Офис по работе c китайскими производителями</p>
      </div>
    </div>
    <div class="geography-slide swiper-slide">
      <img src="/src/img/about/4-img-7637-m 1.png" alt="" class="geography-img">
      <div class="geography-box">
        <p class="xl:text-[34px] xs:text-[28px] 3xs:text-[24px] text-white font-medium leading-normal">Санкт-Петербург</p>
        <p class="text-white text-[16px] leading-7 mt-3">Офис и склад</p>
      </div>
    </div>
  </div>
  <div class="geography-nav">
    <div class="text-sm text-white bold leading-6 2xl:mb-[5px] 3xs:mb-[3px]">НАША ГЕОГРАФИЯ</div>
    <div class="geography-pagination static swiper-pagination">
    </div>
  </div>
</section>

