<section class="bg-white flex items-center xl:pt-[100px] lg:pb-[50px] md:pt-[100px] 3xs:pb-[30px] 3xs:pt-[70px]">
    <div class="container containerMin lg:px-[50px] xs:px-[30px] 3xs:px-[12px] mx-auto flex items-center lg:flex-row 3xs:flex-col justify-between overflow-hidden">
        <div class="lg:w-2/5 2xl:mr-10 3xs:mr-4">
            <a href="" class="flex items-center hoverLink">
                <span class="text-sm text-darkBlue leading-6 font-semibold">О КОМПАНИИ</span>
            </a>
            <h1 class="font-pro xl:text-[34px] xs:text-[28px] 3xs:text-[24px] text-black font-medium leading-normal mt-6">
                Стримпартс (Streamparts.ru) основан в 2019г. специалистами из логистики,
                дистрибуции электронных компонентов и IT
            </h1>
        </div>
        <img class="sm:w-3/5 3xs:w-full 2xl:h-[480px] lg:h-[320px] sm:h-[240px] 3xs:h-[213px] xl:h-[400px] object-contain"
             src="/src/img/SPGlass.png" alt="SP"/>
    </div>
</section>