<section class="flex items-center pt-[70px] md:pt-[100px] pb-[30px] lg:pb-[50px] bg-white">
  <div class="container containerMin flex flex-col lg:flex-row items-center justify-between px-3 xs:px-[30px] lg:px-[50px] mx-auto overflow-hidden">
    <div class="lg:w-2/5 mr-4 2xl:mr-10">
      <p class="hoverLink text-sm text-darkBlue leading-6 font-semibold">О КОМПАНИИ</p>
      <h1 class="mt-6 text-2xl md:text-3xl xl:text-4xl font-pro !leading-normal text-black font-medium">
        Стримпартс (Streamparts.ru) основан в 2019г. специалистами из логистики,
        дистрибуции электронных компонентов и IT
      </h1>
    </div>
    <img class="w-full sm:w-3/5 h-[220px] sm:h-[240px] lg:h-[320px] xl:h-[400px] 2xl:h-[480px] object-contain" src="/src/img/SPGlass.png" alt="SP"/>
  </div>
</section>
<a href="javascript:;" class="hidden 2xl:block absolute bottom-[3%] left-1/2 h-[60px] transform -translate-x-1/2 move-down" title="Нажмите для прокрутки вниз">
  <svg viewBox="0 0 23 23"
       fill="none"
       xmlns="http://www.w3.org/2000/svg"
       class="h-[50px] w-[50px] animate-bounce stroke-darkSecondary">
    <g>
      <path d="M7.66732 9.58325L11.5007 13.4166L15.334 9.58325" stroke="black" stroke-width="1.4375" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
  </svg>
</a>