<section class="bg-white flex items-center xl:pt-[100px] lg:pb-[50px] md:pt-[100px] 3xs:pb-[30px] 3xs:pt-[70px]">
  <div class="container containerMin lg:px-[50px] xs:px-[30px] 3xs:px-3 mx-auto flex items-center lg:flex-row 3xs:flex-col justify-between overflow-hidden">
    <div class="lg:w-2/5 2xl:mr-10 3xs:mr-4">
      <a href="" class="flex items-center hoverLink">
        <span class="text-sm text-darkBlue leading-6 font-semibold">О КОМПАНИИ</span>
      </a>
      <h1 class="font-pro !leading-normal text-2xl md:text-3xl xl:text-4xl text-black font-medium  mt-6">
        Стримпартс (Streamparts.ru) основан в 2019г. специалистами из логистики,
        дистрибуции электронных компонентов и IT
      </h1>
    </div>
    <img class="sm:w-3/5 3xs:w-full 2xl:h-[480px] lg:h-[320px] sm:h-[240px] 3xs:h-[213px] xl:h-[400px] object-contain"
         src="/src/img/SPGlass.png" alt="SP"/>
  </div>
</section>
<a href="javascript:;" class="hidden 2xl:block absolute bottom-[3%] left-1/2 h-[60px] transform -translate-x-1/2 move-down" title="Нажмите для прокрутки вниз">
  <svg viewBox="0 0 23 23"
       fill="none"
       xmlns="http://www.w3.org/2000/svg"
       class="h-[50px] w-[50px] animate-bounce stroke-darkSecondary">
    <g>
      <path d="M7.66732 9.58325L11.5007 13.4166L15.334 9.58325" stroke="black" stroke-width="1.4375" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
  </svg>
</a>