@import '../../node_modules/swiper/swiper-bundle.css';
@import '../../src/js/components/fullpage4/dist/fullpage.css';
@import '../../node_modules/select2/dist/css/select2.min.css';

/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/src/fonts/inter-v12-cyrillic_latin-regular.woff2") format("woff2");
}

/* inter-500 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("/src/fonts/inter-v12-cyrillic_latin-500.woff2") format("woff2");
}

/* inter-600 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("/src/fonts/inter-v12-cyrillic_latin-600.woff2") format("woff2");
}

/* inter-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/src/fonts/inter-v12-cyrillic_latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src: url("/src/fonts/SFProDisplay-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  src: url("/src/fonts/SFProDisplay-Medium.woff2") format("woff2");
}

/* Taiwild */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .linkNav{
    @apply text-[#69696B] transition ease-in-out duration-[0.38s] hover:text-black
  }
  .linkNav--white{
    @apply text-[#CDCDD1] hover:text-white;
  }
  .linkNav.active{
    @apply text-black font-medium;
  } 
  .linkNav--white.active{
    @apply text-white;
  }
  .about-slide{
    @apply flex items-center  2xl:pl-[180px]  lg:pl-[120px]  sm:pl-[50px] sm:flex-row 3xs:flex-col-reverse sm:pb-0 3xs:pb-[80px];
  }
  .btn-primary {
    @apply border border-orange text-center text-sm rounded-lg bg-orange text-white;
  }

  .btn-more {
    @apply text-black hover:text-white border border-darkBlue/[0.1]
    bg-white hover:bg-blue font-medium rounded-xl text-base text-center;
  }

  .btn-more svg {
    @apply fill-blue;
  }

  .btn-more:hover svg {
    @apply fill-white;
  }

  .section-head {
    @apply font-pro text-black text-[1.6rem] lg:text-5xl font-normal;
  }

  .circle-counter {
    @apply inline-block w-[32px] h-[32px] md:w-[38px] md:h-[38px]
    leading-[32px] md:leading-[38px] font-semibold
    text-sm md:text-xl rounded-full text-center text-blue bg-blue/20;
  }

  .list-item-square {
    @apply relative pl-6;
  }

  .tabs {
    @apply  w-full 2xl:mt-[50px] 3xs:mt-[15px];
    
  }

  .tab-nav-items {
    @apply flex justify-center lg:flex-nowrap 3xs:flex-wrap text-center;
  }

  .tab-nav-item {
    @apply cursor-pointer border-[#DCE0E8] border-[1px] xl:mr-7 lg:mr-[40px] lg:mt-[0px] 3xs:mt-[15px] 3xs:mr-[15px] rounded-xl p-6 flex flex-col justify-between xl:w-[18%] lg:w-[25%] 3xs:w-[48%] transition ease-in-out duration-[0.38s] hover:bg-[#DCE0E8];
  }
  .tab-nav-item:nth-child(2n){
    @apply xl:mr-7 lg:mr-[40px] 3xs:mr-0;
  }
  .tab-nav-item:last-child{
    @apply xl:mr-0 lg:mr-0 3xs:mr-0;
  }
  .tab-nav-item.active{
    @apply bg-white border-white;
  }
  .expanded {
    @apply rounded-xl overflow-hidden
    md:border-none md:rounded-none md:bg-transparent md:overflow-auto;
  }



  .tab-content {
    @apply hidden lg:mt-[50px] 3xs:mt-[30px];
  }

  .tab-content.current {
    @apply block;
  }
  .list-item-square{
    margin-bottom: 20px;
  }
  .list-item-square:last-child{
    margin-bottom: 0;
  }
  .list-item-square::before {
    content: " ";
    width: 12px;
    height: 12px;
    position: absolute;
    top: calc(50% - 6px);
    left: 0;
    background: #224BB7;
    border-radius: 3px;
  }
  .textMobile{
    color: #69696B;
    font-family: 'SF Pro Display';
    font-weight: 500;
    letter-spacing: -0.45px;
    @apply xs:text-[24px] 3xs:text-[20px];
  }
  .textMobile.active{
    color: #000;
  }
  #menu-burger {
    width: 20px;
    height: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-direction: column;
  }

  #menu-burger span {
    display: block;
    background: #323232;
    width: 20px;
    height: 2px;
    border-radius: 16px;
    margin-top: 5px;
    -webkit-transform-origin: center;
    transform-origin: left;
    -webkit-transition: all 0.38s ease 0s;
    transition: all 0.38s ease 0s;
  }
  #menu-burger span:first-child{
    margin-top: 0;
  }



  #menu-burger.open span:first-child {
    width: 20px;
    transform: translateX(5px) rotate(45deg);
    -webkit-transform: translateX(5px) rotate(45deg);
  }

  #menu-burger.open span:nth-child(2) {
    opacity: 0;
  }

  #menu-burger.open span:last-child {
    width: 20px;
    transform: translateX(5px) rotate(-45deg);
    -webkit-transform: translateX(5px) rotate(-45deg);
  }
  #menu{
    border-radius: 0px 0px 16px 16px;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  }
  #menu.open {
    visibility: visible !important;
    display: block;
  }

  .active__link {
    background: #007bff;
    color: white;
  }
  
  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .micromodal-slide {
    display: none;
  }

  .micromodal-slide.is-open {
    display: block;
  }

  .micromodal-slide[aria-hidden="false"] .modal__overlay {
    -webkit-animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
    animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
  }

  .micromodal-slide[aria-hidden="false"] .modal__container {
    -webkit-animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
    animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
  }

  .micromodal-slide[aria-hidden="true"] .modal__overlay {
    -webkit-animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
    animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
  }

  .micromodal-slide[aria-hidden="true"] .modal__container {
    -webkit-animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
    animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
  }

  .micromodal-slide .modal__container,
  .micromodal-slide .modal__overlay {
    will-change: transform;
  }
  .containerMin{
    max-width: 1220px;
  }
  .btn {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 0.25rem;
    border-width: 1px;
    padding: 1rem 1.75rem;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
  }

  .btn.disabled,
  .btn:disabled {
    cursor: default;
    opacity: 0.6;
  }

  .btn-orange {
    --tw-border-opacity: 1;
    border-color: rgba(255, 92, 0, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(255, 92, 0, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
  }

  .btn-orange:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(215, 92, 0, var(--tw-bg-opacity));
  }

  .btn-orange:focus {
    --tw-border-opacity: 1;
    border-color: rgba(255, 92, 0, var(--tw-border-opacity));
    background-color: transparent;
    --tw-text-opacity: 1;
    color: rgba(255, 92, 0, var(--tw-text-opacity));
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  .btn-orange.disabled,
  .btn-orange:disabled {
    --tw-bg-opacity: 1;
    background-color: rgba(215, 92, 0, var(--tw-bg-opacity));
  }

  .btn-blue {
    --tw-border-opacity: 1;
    border-color: rgba(33, 75, 183, var(--tw-border-opacity));
    background-color: transparent;
    --tw-text-opacity: 1;
    color: rgba(33, 75, 183, var(--tw-text-opacity));
  }

  .btn-blue:hover {
    --tw-border-opacity: 1;
    border-color: rgba(43, 75, 133, var(--tw-border-opacity));
    background-color: rgba(43, 75, 133, var(--tw-bg-opacity));
  }

  .btn-blue:focus,
  .btn-blue:hover {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
  }

  .btn-blue:focus {
    background-color: rgba(33, 75, 183, var(--tw-bg-opacity));
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  .btn-blue.disabled,
  .btn-blue:disabled {
    --tw-bg-opacity: 1;
    background-color: rgba(43, 75, 133, var(--tw-bg-opacity));
  }

  .form-group {
    margin-bottom: 1.5rem;
  }

  .form-group label {
    margin-bottom: 0.25rem;
    display: inline-block;
  }

  .form-group label .label-text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    opacity: 0.7;
  }

  .form-group label .label-sign {
    font-size: 1.125rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: rgba(255, 92, 0, var(--tw-text-opacity));
  }

  .form-group label .label-sign,
  .form-group label .label-text {
    vertical-align: middle;
    line-height: 1.75rem;
  }

  .form-group label .tooltip-icon {
    display: inline-block;
    cursor: pointer;
    --tw-text-opacity: 1;
    color: rgba(0, 0, 0, var(--tw-text-opacity));
    --tw-text-opacity: 0.5;
  }

  .form-group .form-control {
    display: block;
    width: 100%;
    border-radius: 0.25rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(0, 0, 0, var(--tw-border-opacity));
    --tw-border-opacity: 0.2;
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    padding: 0.75rem 1.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  .form-group .form-control:focus {
    --tw-border-opacity: 0.3;
  }

  .form-group .form-control .is-invalid {
    --tw-border-opacity: 1;
    border-color: rgba(220, 53, 69, var(--tw-border-opacity));
  }

  .form-group .form-control:disabled,
  .form-group .form-control[readonly] {
    --tw-bg-opacity: 1;
    background-color: rgba(244, 246, 252, var(--tw-bg-opacity));
  }

  .form-group .invalid-feedback {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
    --tw-text-opacity: 1;
    color: rgba(220, 53, 69, var(--tw-text-opacity));
  }

  .vue-simple-suggest.designed {
    position: relative;
  }

  .vue-simple-suggest.designed .suggestions {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 40;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(0, 0, 0, var(--tw-border-opacity));
    --tw-border-opacity: 0.2;
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    top: calc(100% + 5px);
  }

  .vue-simple-suggest.designed .suggestions .suggest-item {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .vue-simple-suggest.designed .suggestions .suggest-item:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(215, 92, 0, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
  }

  .vue-simple-suggest.designed .suggestions .suggest-item.selected {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 92, 0, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
  }

  .vue-simple-suggest.designed .suggestions .suggest-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  .vue-simple-suggest.designed .suggestions .suggest-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  .vue-simple-suggest.designed .suggestions .misc-item,
  .vue-simple-suggest.designed .suggestions .suggest-item {
    padding: 0.75rem 0.5rem;
  }

  .select-dropdown {
    position: relative;
  }

  .select-dropdown select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .select-dropdown:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    width: 0;
    height: 0;
    margin-top: -2px;
    border-top: 5px solid #aaa;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }

  .hoverLink:hover svg{
    transform: translate(3px,-3px);
  }
  .gradient::after{
    background: linear-gradient(0deg, #FFF 1.45%, rgba(255, 255, 255, 0.00) 45.13%);
  }

}
.swiper-pagination-bullet{
  opacity: 0.3;
  background: #FFF;
  width: 12px;
  height: 12px;
}
.swiper-pagination-bullet-active{
  opacity: 1;
}
.delivery-pagination.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  margin: 0 11px;
}
.about-pagination.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet{
  margin: 22px 0;
}
.about-pagination.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  margin: 0 11px;
}
.about-pagination.swiper-vertical > .swiper-pagination-bullets, .swiper-pagination-vertical.swiper-pagination-bullets{
  left: 0;
  width: fit-content;
}
.delivery .swiper-slide{
  position: relative;
}
.delivery .swiper-slide-active+.swiper-slide-next::before{
  content: "";
  background: #224BB7;
  filter: blur(34px);
  position: absolute;
  top: 0;
  height: 100%;
  right: 0px;
  width: 50%;
  z-index: 1;
}
.delivery .swiper-slide-prev::before{
  content: "";
  background: #224BB7;
  filter: blur(34px);
  position: absolute;
  top: 0;
  height: 100%;
  left: 0px;
  z-index: 2;
  width: 50%;
}


.geography-slide{
  @apply relative w-full h-full;
}
.geography-slide::before{
  content: '';
  background: linear-gradient(70deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.00) 45.75%), linear-gradient(111deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.00) 47.51%);
  @apply absolute w-full h-full top-0 left-0 z-[2];
}
.geography-img{
  @apply w-full h-full object-cover object-top;
}
.geography-nav{
  @apply absolute 2xl:top-[170px] lg:top-[50px] 3xs:top-[30px] z-[10];
}
.geography-box{
  @apply absolute 2xl:bottom-[100px] lg:bottom-[50px] 3xs:bottom-[30px] z-[2];

}
.swiper-progress-bar{
	width: 268px;
  height: 2px;
	position: relative;
	margin-top: 24px;
	
}
.swiper-progress-bar .progress{
  height: 2px;
  left: 0;
  top: 0;
  position: absolute;
  background: #FFF;
  z-index: 1;
}
.swiper-progress-bar .progress-sections{
  display: flex;
  justify-content: space-between;
}
.swiper-progress-bar .progress-sections span{
  height: 2px;
  width: 80px;
  background: hsla(0, 0%, 100%, 0.5);
 
}
.geography-pagination{
  display: flex;
  
}
.geography-pagination .swiper-pagination-bullet-custom {

  width: 80px;
  height: 2px;
  position: relative;
  cursor: pointer;
  @apply 2xl:pb-7 3xs:pb-3;
}



.geography-pagination .swiper-pagination-bullet-custom:not(:last-child) {
  margin-right: 14px;
}

.geography-pagination .swiper-pagination-bullet-custom svg {
  background-color: rgba(255,255,255,.5);
  width: 80px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 0;
  @apply 3xs:mt-[15px];
  
}
.geography-pagination .swiper-pagination-bullet-custom--active svg {
  display: block;
}

.geography-pagination .swiper-pagination-bullet-custom--active svg line {
  stroke-dasharray: 79;
  stroke-dashoffset: 79;
  animation: BulletProgress calc(var(--delay) * 1ms) linear forwards;
}

.geography-pagination .swiper-pagination-bullet-custom--active::before {
  background-color: #fff;
}
.geography .swiper-wrapper{
  z-index: -1;
}
@keyframes BulletProgress {
  to {
    stroke-dashoffset: 0;
  }
}
.header{
  @apply top-[0];
  transition: top .38s ease-in-out;
}
.close{
  @apply top-[-100%];
}
.geography .swiper--pause .swiper-pagination-bullet-custom--active svg circle {
  animation: none;
}
.fp-watermark{
  display: none;
  z-index: -9999 !important;
}
.select2{
  width: 100% !important;
}
.select2-container{
  width: 94%;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #DCE0E8;
}
.select2-dropdown{
  border-radius: 12px;
  border: 1px solid #DCE0E8;
  background-color: #EBEDF2;
}
.select2-container--default .select2-selection--single{
  border: 0;
  background-color: transparent;
  height: auto;
}
.select2-container .select2-selection--single .select2-selection__rendered{
  padding: 0;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.1px;
  display: flex;
  align-items: center;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  top: 18px;
  right: 16px;
  background-image: url("/src/img/Group.svg");
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-size: cover;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  display: none;
}
.select2-container.select2-container--default.select2-container--open{
  padding-top: 0;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.select2.select2-container.select2-container--default.select2-container--below.select2-container--open{
  padding-top: 16px;
  border: 1px solid #DCE0E8;
  border-radius: 12px;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable:last-child{
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable:last-child{
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.select2-container--default .select2-results__option--selected:last-child{
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
  background-color: #fff;
  color: #000;
}
.select2-results__option{
  display: flex;
  align-items: center;
}
.section{
  -webkit-transform: translate3d(0, 0, 0)
}