<section class="bg-white flex items-center pt-[70px] md:pt-[100px] xl:pt-[100px] sm:pb-[30px] lg:pb-[50px] ">
  <div class="container containerMin flex-col lg:flex-row md:flex lg:items-center md:justify-between px-3 xs:px-8 lg:px-14 mx-auto">
    <div class="w-full lg:w-2/5 mr-10">
      <a href="./about.html" class="flex items-center hoverLink">
        <span class="mr-1 text-sm text-darkBlue leading-6 font-semibold">ПОДРОБНЕЕ О КОМПАНИИ</span>
        <svg class="transition ease-in-out duration-[0.38s] stroke-darkBlue" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
          <path d="M14.125 5.875L5.875 14.125" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M8.33337 5.83334L14.125 5.87418L14.1667 11.6667" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
      <h1 class="mt-6 font-pro text-2xl xs:text-3xl xl:text-4xl text-black font-medium !leading-normal">
        Поиск и заказ электронных компонентов
      </h1>
      <p class="mt-3 text-gray4 text-base leading-[28px]">
        Глобальное складское наличие, производство и поставки
        по графику
      </p>
      <div class="flex flex-col 2xs:flex-row 2xs:items-center flex-wrap 2xs:flex-nowrap mt-6">
        <a href="https://app.streamparts.ru/login"
           class="btn-primary max-h-12 py-3 px-6 2xs:mr-4 text-base">
          Войти
        </a>
        <button type="button" class="btn-blue-transparent max-h-12 mt-2.5 2xs:mt-0 py-3 px-6 text-base">
          Получить доступ
        </button>
      </div>
    </div>
    <div class="relative lg:w-3/5 md:w-full h-[190px] xs:h-[240px] lg:h-[380px] mt-8 lg:mt-0 after:absolute after:w-full after:h-full after:bottom-0 gradient">
      <img class="w-full absolute h-full object-contain" src="/src/img/aggregator-screen.svg" alt="Macbook Preview"/>
    </div>
  </div>
</section>
<a href="javascript:;" class="hidden 2xl:block absolute bottom-[3%] left-1/2 h-[60px] transform -translate-x-1/2 move-down" title="Нажмите для прокрутки вниз">
  <svg viewBox="0 0 23 23"
       fill="none"
       xmlns="http://www.w3.org/2000/svg"
       class="h-[50px] w-[50px] animate-bounce stroke-darkSecondary">
    <g>
      <path d="M7.66732 9.58325L11.5007 13.4166L15.334 9.58325" stroke="black" stroke-width="1.4375" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
  </svg>
</a>