<section class="bg-darkBlue flex items-center">
    <div class="h-full flex justify-center flex-col items-center container containerMin xl:pt-[50px] md:pb-[50px] lg:px-[50px] xs:px-[30px] 3xs:px-3 mx-auto 3xs:py-[30px]">
        <div class="text-white xl:text-[34px] xs:text-[28px] 3xs:text-2xl font-medium leading-normal">Направления поставок</div>
        <div class="delivery swiper w-full 2xl:mt-[106px] 2xl:pt-[80px] md:pt-[80px] 3xs:pt-[30px]">
            <div class="swiper-wrapper">
                <div class="swiper-slide delivery-slide flex items-center justify-center">
                    <div class="2xl:w-10/12 3xs:w-full transition-all ease-in-out duration-[0.38s] flex flex-col items-center ">
                        <img src="/src/img/icons/supply-ways-1.svg" alt="" class="2xl:mb-4 3xs:mb-2">
                        <p class="xl:text-[28px] 3xs:text-[20px] text-white font-medium leading-normal text-center 2xl:mb-4 3xs:mb-2">Свободный рынок</p>
                        <p class="text-white text-center 3xs:w-[80%]">Складские поставки дефицитных компонентов  в условиях санкций</p>
                    </div>
                </div>
                <div class="swiper-slide delivery-slide flex items-center justify-center">
                    <div class="2xl:w-10/12 3xs:w-full transition-all ease-in-out duration-[0.38s] flex flex-col items-center ">
                        <img src="/src/img/icons/supply-ways-2.svg" alt="" class="2xl:mb-4 3xs:mb-2">
                        <p class="xl:text-[28px] 3xs:text-[20px] text-white font-medium leading-normal text-center 2xl:mb-4 3xs:mb-2">Снабжение</p>
                        <p class="text-white text-center 3xs:w-[80%]">Внедрение и поставки по графику компонентов азиатских производителей</p>
                    </div>
                </div>
                <div class="swiper-slide delivery-slide flex items-center justify-center">
                    <div class=" 2xl:w-10/12 3xs:w-full transition-all ease-in-out duration-[0.38s] flex flex-col items-center ">
                        <img src="/src/img/icons/supply-ways-3.svg" alt="" class="2xl:mb-4 3xs:mb-2">
                        <p class="xl:text-[28px] 3xs:text-[20px] text-white font-medium leading-normal text-center 2xl:mb-4 3xs:mb-2">Логистический канал</p>
                        <p class="text-white text-center 3xs:w-[80%]">Поставки под ключ от азиатского источника</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col items-center relative mt-5 2xl:mt-20">
            <div class="swiper-pagination delivery-pagination static mt-[4px]"></div>
        </div>
    </div>
</section>
<a href="javascript:;" class="hidden 2xl:block absolute bottom-[3%] left-1/2 h-[60px] transform -translate-x-1/2 move-down" title="Нажмите для прокрутки вниз">
    <svg viewBox="0 0 23 23"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
         class="h-[50px] w-[50px] animate-bounce stroke-darkSecondary">
        <g>
            <path d="M7.66732 9.58325L11.5007 13.4166L15.334 9.58325" stroke="white" stroke-width="1.4375" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
    </svg>
</a>