<section class="bg-darkBlue flex items-center">
    <div class="h-full flex justify-center flex-col items-center container containerMin xl:pt-[50px] md:pb-[50px] lg:px-[50px] xs:px-[30px] 3xs:px-[12px] mx-auto 3xs:py-[30px]">
        <div class="text-white xl:text-[34px] xs:text-[28px] 3xs:text-[24px] font-medium leading-normal">Направления поставок</div>
        <div class="delivery swiper w-full 2xl:mt-[106px] 2xl:pt-[80px] md:pt-[80px] 3xs:pt-[30px]">
            <div class="swiper-wrapper">
                <div class="swiper-slide flex items-center justify-center">
                    <div class="2xl:w-10/12 3xs:w-full transition-all ease-in-out duration-[0.38s] flex flex-col items-center ">
                        <img src="/src/img/index/Group 2.svg" alt="" class="2xl:mb-4 3xs:mb-2">
                        <p class="xl:text-[28px] 3xs:text-[20px] text-white font-medium leading-normal text-center 2xl:mb-4 3xs:mb-2">Свободный рынок</p>
                        <p class="text-[16px] text-white text-center 3xs:w-[80%]">Складские поставки дефицитных компонентов  в условиях санкций</p>
                    </div>
                </div>
                <div class="swiper-slide flex items-center justify-center">
                    <div class="2xl:w-10/12 3xs:w-full transition-all ease-in-out duration-[0.38s] flex flex-col items-center ">
                        <img src="/src/img/index/Group.svg" alt="" class="2xl:mb-4 3xs:mb-2">
                        <p class="xl:text-[28px] 3xs:text-[20px] text-white font-medium leading-normal text-center 2xl:mb-4 3xs:mb-2">Снабжение</p>
                        <p class="text-[16px] text-white text-center 3xs:w-[80%]">Внедрение и поставки по графику компонентов азиатских производителей</p>
                    </div>
                </div>
                <div class="swiper-slide flex items-center justify-center">
                    <div class=" 2xl:w-10/12 3xs:w-full transition-all ease-in-out duration-[0.38s] flex flex-col items-center ">
                        <img src="/src/img/index/Group 1.svg" alt="" class="2xl:mb-4 3xs:mb-2">
                        <p class="xl:text-[28px] 3xs:text-[20px] text-white font-medium leading-normal text-center 2xl:mb-4 3xs:mb-2">Логистический канал</p>
                        <p class="text-[16px] text-white text-center 3xs:w-[80%]">Поставки под ключ от азиатского источника</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="flex flex-col items-center relative 2xl:mt-[80px] 3xs:mt-[20px]">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none" class="opacity-50">
                <path d="M21.6667 26.6666H20C11.715 26.6666 5 23.3083 5 19.1666C5 15.025 11.715 11.6666 20 11.6666C28.285 11.6666 35 15.025 35 19.1666C35 21.7666 32.3517 24.0566 28.3333 25.4016C32.3517 24.0566 35 21.7666 35 19.1666C35 15.025 28.285 11.6666 20 11.6666C11.715 11.6666 5 15.025 5 19.1666C5 23.3083 11.715 26.6666 20 26.6666" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M17.5 30.8333L21.6667 26.6667L17.5 22.5" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <div class="swiper-pagination delivery-pagination static mt-[4px]"></div>
        </div>
    </div>
</section>