<section class="bg-darkBlue flex items-center">
    <div class="h-full flex justify-center flex-col items-center container containerMin px-3 xs:px-[30px] lg:px-[50px] py-[30px] md:pb-[50px] xl:pt-[50px] mx-auto">
        <div class="text-white text-2xl xs:text-[28px] xl:text-[34px] font-medium leading-normal">Направления поставок</div>
        <div class="delivery swiper w-full 2xl:mt-[106px] pt-[30px] md:pt-[80px]">
            <div class="swiper-wrapper">
                <div class="swiper-slide delivery-slide flex items-center justify-center">
                    <div class="w-full 2xl:w-10/12 flex flex-col items-center transition-all ease-in-out duration-[0.38s]">
                        <img src="/src/img/icons/supply-ways-1.svg" alt="Icon" class="mb-2 2xl:mb-4">
                        <p class="text-xl xl:text-[28px] text-white font-medium leading-normal text-center mb-2 2xl:mb-4">Свободный рынок</p>
                        <p class="w-[80%] text-white text-center">Складские поставки дефицитных компонентов  в условиях санкций</p>
                    </div>
                </div>
                <div class="swiper-slide delivery-slide flex items-center justify-center">
                    <div class="w-full 2xl:w-10/12 flex flex-col items-center transition-all ease-in-out duration-[0.38s]">
                        <img src="/src/img/icons/supply-ways-2.svg" alt="Icon" class="mb-2 2xl:mb-4">
                        <p class="text-xl xl:text-[28px] text-white font-medium leading-normal text-center mb-2 2xl:mb-4">Снабжение</p>
                        <p class="w-[80%] text-white text-center">Внедрение и поставки по графику компонентов азиатских производителей</p>
                    </div>
                </div>
                <div class="swiper-slide delivery-slide flex items-center justify-center">
                    <div class="w-full 2xl:w-10/12 flex flex-col items-center transition-all ease-in-out duration-[0.38s]">
                        <img src="/src/img/icons/supply-ways-3.svg" alt="Icon" class="mb-2 2xl:mb-4">
                        <p class="text-xl xl:text-[28px] text-white font-medium leading-normal text-center mb-2 2xl:mb-4">Логистический канал</p>
                        <p class="w-[80%] text-white text-center">Поставки под ключ от азиатского источника</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col items-center relative mt-5 2xl:mt-20">
            <div class="swiper-pagination delivery-pagination static mt-1"></div>
        </div>
    </div>
</section>
<a href="javascript:;" class="hidden 2xl:block absolute bottom-[3%] left-1/2 h-[60px] transform -translate-x-1/2 move-down" title="Нажмите для прокрутки вниз">
    <svg viewBox="0 0 23 23"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
         class="h-[50px] w-[50px] animate-bounce stroke-darkSecondary">
        <g>
            <path d="M7.66732 9.58325L11.5007 13.4166L15.334 9.58325" stroke="white" stroke-width="1.4375" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
    </svg>
</a>