<section class="bg-gray2 flex items-center">
  <div class="container containerMin px-3 xs:px-8 py-12 xl:pt-[80px] xl:pb-[50px] mx-auto">
    <h2 class="text-2xl xs:text-[28px] xl:text-[34px] font-medium leading-normal text-black text-center">Сервисы, доступные в личном кабинете</h2>
      <nav class="tabs">
        <ul class="tab-nav-items">
          <li class="tab-nav-item active" data-tab="tab-1">
            <img src="/src/img/icons/tab-1.svg" alt="" class="w-6 h-6 object-contain pointer-events-none">
            <div class="leading-7 text-left pointer-events-none mt-2.5 max-w-[100px]">Поисковый агрегатор</div>
          </li>
          <li class="tab-nav-item" data-tab="tab-2">
            <img src="/src/img/icons/tab-2.svg" alt="" class="w-6 h-6 object-contain pointer-events-none">
            <div class="leading-7 text-left pointer-events-none mt-2.5 max-w-[180px] lg:max-w-auto">Система обработки запросов</div>
          </li>
          <li class="tab-nav-item" data-tab="tab-3">
            <img src="/src/img/icons/tab-3.svg" alt="" class="w-6 h-6 object-contain pointer-events-none">
            <div class="leading-7 text-left pointer-events-none mt-2.5 max-w-[150px]">Каталог азиатских производителей</div>
          </li>
          <li class="tab-nav-item" data-tab="tab-4">
            <img src="/src/img/icons/tab-4.svg" alt="" class="w-6 h-6 object-contain pointer-events-none">
            <div class="leading-7 text-left pointer-events-none mt-2.5 max-w-[100px]">Журнал заказов</div>
          </li>
        </ul>
        <label for="tab-select"></label>
        <select id="tab-select" class="select tab-nav-items block sm:hidden">
          <option class="tab-nav-item active" data-tab="tab-1" value="tab-1">
            Поисковый агрегатор
          </option>
          <option class="tab-nav-item" data-tab="tab-2" value="tab-2">
            Система обработки запросов
          </option>
          <option class="tab-nav-item" data-tab="tab-3" value="tab-3">
            Каталог азиатских производителей
          </option>
          <option class="tab-nav-item" data-tab="tab-4" value="tab-4">
            Журнал заказов
          </option>
        </select>
        <template id="template-1" data-template="tab-1">
          <img src="/src/img/icons/tab-1.svg" class="w-6 h-6 mr-2 object-contain pointer-events-none" alt="" />
          <div class="leading-7 text-left pointer-events-none">
            Поисковый агрегатор
          </div>
        </template>
        <template id="template-2" data-template="tab-2">
          <img src="/src/img/icons/tab-2.svg" class="w-6 h-6 mr-2 object-contain pointer-events-none" alt="" />
          <div class="leading-7 text-left pointer-events-none">
            Система обработки запросов
          </div>
        </template>
        <template id="template-3" data-template="tab-3">
          <img src="/src/img/icons/tab-3.svg" class="w-6 h-6 mr-2 object-contain pointer-events-none" alt="" />
          <div class="leading-7 text-left pointer-events-none">
            Каталог азиатских производителей
          </div>
        </template>
        <template id="template-4" data-template="tab-4">
          <img src="/src/img/icons/tab-4.svg" class="w-6 h-6 mr-2 object-contain pointer-events-none" alt="" />
          <div class="leading-7 text-left pointer-events-none">
            Журнал заказов
          </div>
        </template>
      </nav>
      <div id="tab-1" class="tab-content current">
        <div class="flex flex-col lg:flex-row items-center">
          <img class="tab-img translate-z-0" src="/src/img/aggregator-screen.svg" alt="Aggregator preview" />
          <ul class="tab-list">
            <li class="list-item-square text-black mb-4 text-sm">50 + источников в поисковой выдаче</li>
            <li class="list-item-square text-black mb-4 text-sm">Опции из складского наличия и размещение в производство</li>
            <li class="list-item-square text-black mb-4 text-sm">Анализ доступности компонента</li>
            <li class="list-item-square text-black mb-4 text-sm">Построчный поиск и списком (загрузка BOM)</li>
            <li class="list-item-square text-black mb-4 text-sm">Кросс-референс аналоги</li>
            <li class="list-item-square text-black mb-4 text-sm">Аналоги по типу упаковки</li>
            <li class="list-item-square text-black mb-4 text-sm">
              Сохранение результатов поиска в корзине<br />
              либо пуле корзин (проект/заказ/клиент)
            </li>
            <li class="list-item-square text-black mb-4 text-sm">Динамическое обновление корзины</li>
          </ul>
        </div>
      </div>
      <div id="tab-2" class="tab-content">
        <div class="flex flex-col lg:flex-row items-center">
          <img class="tab-img translate-z-0" src="/src/img/rfq-screen.svg" alt="RFQ preview" />
          <ul class="tab-list">
            <li class="list-item-square text-black mb-4 text-sm">Дополнительные источники складского наличия в Китае</li>
            <li class="list-item-square text-black mb-4 text-sm">Потенциал улучшения цены на чеки от 5000 USD или эквивалент</li>
            <li class="list-item-square text-black mb-4 text-sm">Повторяющийся запрос о поступлении на склад</li>
            <li class="list-item-square text-black mb-4 text-sm">
              Расчет поставки от иностранного источника
              (заказная поставка)
            </li>
            <li class="list-item-square text-black mb-4 text-sm">Срок квотации 12 - 24 часов</li>
          </ul>
        </div>
      </div>
      <div id="tab-3" class="tab-content">
        <div class="flex flex-col lg:flex-row items-center">
          <img class="tab-img translate-z-0" src="/src/img/asia-catalog-screen.svg" alt="Asia catalog preview" />
          <ul class="tab-list">
            <li class="list-item-square text-black mb-4 text-sm">Параметрический поиск</li>
            <li class="list-item-square text-black mb-4 text-sm">Текстовый поиск среди результатов категории</li>
            <li class="list-item-square text-black mb-4 text-sm">Кросс-референс аналоги к западным компонентам
              (pin2pin, функциональные)</li>
            <li class="list-item-square text-black mb-4 text-sm">Техническая документация онлайн и ссылки для скачивания</li>
            <li class="list-item-square text-black mb-4 text-sm">
              Создание запроса
            </li>
            <li class="list-item-square text-black mb-4 text-sm">Проверка на складское наличие компонента</li>
          </ul>
        </div>
      </div>
      <div id="tab-4" class="tab-content">
        <div class="flex flex-col lg:flex-row items-center">
          <img class="tab-img translate-z-0" src="/src/img/order-history-screen.svg" alt="Order history preview" />
          <ul class="tab-list">
            <li class="list-item-square text-black mb-4 text-sm">Отслеживание статусов размещенных заказов</li>
            <li class="list-item-square text-black mb-4 text-sm">Динамическая ожидаемая дата поставки</li>
            <li class="list-item-square text-black mb-4 text-sm">Выставленные счета и статус оплаты</li>
            <li class="list-item-square text-black mb-4 text-sm">Просматриваемость заказов подчиненных аккаунтов</li>
          </ul>
        </div>
      </div>
  </div>
</section>
